<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	 <!-- setting adapter -->
	<servlet>
		<servlet-name>ServiceAgent</servlet-name>
		<servlet-class>
			org.pitt.serviceadapter.agent.ServiceAgent
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<description>mapkey</description>
			<param-name>mapkey</param-name>
			<param-value>maptile,maptilex</param-value>
		</init-param>
		<init-param>
			<description>user</description>
			<param-name>user</param-name>
			<param-value>testV4</param-value>
		</init-param>
		<init-param>
			<description>Encrypt</description>
			<param-name>encrypt</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<description>Parameter encoding</description>
			<param-name>encode</param-name>
			<param-value>GBK</param-value>
		</init-param>
		<init-param>
			<description>password</description>
			<param-name>password</param-name>
			<param-value>testV4123</param-value>
		</init-param>
		<init-param>
			<description>Keyvaluestore</description>
			<param-name>keyvaluestore</param-name>
			<param-value>
				http://136.142.186.102:8080/keyvaluestore.do
			</param-value>
		</init-param>
		<init-param>
			<description>NARoute</description>
			<param-name>naroute</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/Kelurahan/KelurahanNA/NAServer/Route/solve
			</param-value>
		</init-param>
		<init-param>
			<description>NACloseshelter</description>
			<param-name>nacloseshelter</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/Kelurahan/KelurahanNA/NAServer/Closest%20Facility/solveClosestFacility
			</param-value>
		</init-param>
		<init-param>
			<description>PolylineBarriersQuery</description>
			<param-name>polylinebarriers</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/Kelurahan/KelurahanFacilities/FeatureServer/41/query
			</param-value>
		</init-param>
		<init-param>
			<description>SheltersQuery</description>
			<param-name>shelters</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/Kelurahan/KelurahanFacilities/FeatureServer/34/query
			</param-value>
		</init-param>
		<init-param>
			<description>RoadsegmentQuery</description>
			<param-name>roadsegment</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/Kelurahan/KelurahanFacilities/FeatureServer/44/query
			</param-value>
		</init-param>
		<init-param>
			<description>ClosestjunctionQuery</description>
			<param-name>closestjunction</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/Kelurahan/KelurahanNA/MapServer/21/query
			</param-value>
		</init-param>
		<init-param>
			<description>PolylineBarriersReport</description>
			<param-name>polylinebarriersreport</param-name>
			<param-value>
				http://136.142.186.102:6080/arcgis/rest/services/AC/ACBarriers/FeatureServer/1/addFeatures
			</param-value>
		</init-param>
		<init-param>
			<description>GeocodeServer</description>
			<param-name>GeocodeServer</param-name>
			<param-value>				
				http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/find
			</param-value>
		</init-param>
	</servlet>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/keyvaluestore</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/naroute</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/polylinebarriers</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/polylinebarriersreport</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/shelters</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/roadsegment</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/nacloseshelter</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/geocodeserver</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ServiceAgent</servlet-name>
			<url-pattern>/closestjunction</url-pattern>
		</servlet-mapping>
</web-app>
